html{
    padding: 0px;
}
a{
    text-decoration:none ;
}
.navbar{
    width: 100vw;
    height:10vh;
    border:1px solid black;
    padding: 1%;
    margin: 0px;
    display: inline-flex;   
}
ul{
    list-style-type: none;
}
.navbarcontent_ul{
    width:50%;
    display:flex;
    justify-content:space-between;
}
.navbarcontent_ul li{
    margin:1rem
}
.navbarcontent_ul li a{
    color:black
}
.navbarcontent_ul li :hover {
    color: red, !important;
}

.navbar_button{
    margin:1.5rem
}
.searchbutton{
    border-radius: 50%;
    border:none;
    width:2rem;
    height: 2rem
}
.searchbutton:hover{
    background-color: orangered;
    color: white;

}
.purchseButton.hover{
    background-color: purple;
    padding: 0.4em;
    color:white;
    border-radius: 12px;
}