.navbar{
    width: 100vw;
    height:18vh;
    border:1px solid black;
    padding: 1%;
    margin: 0px;
    display: inline-flex;
}
ul{
     list-style-type:none;
    }
.navbarcontent ul{
    width: 50%;
    display: flex;
    justify-content:space-between;
}
.navbarcontent ul li{
    list-style-type: none;
}