
.navbar {
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
    padding: 1%;
    margin: 0px;
    display: inline-flex;
}

ul {
    list-style-type:none;
}

.navbarcontent ul {
    width: 50%;
    display:flex;
    justify-content: space-between;
}

.navbarcontent ul li{
    margin: 1rem;
    display: table-header-group;
}
.navbar button{
    margin: 1.5rem;
}
.searchbutton {
    border-radius: 15%;
    padding: 0.4rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.searchbutton:hover{
    background-color: rgb(233, 55, 11);
    color: white;
}




