html 
body{
    margin:0px;
    padding: 0px;
}

.border{
    border-collapse: collapse;
    margin: 2.5em;
    margin-top: 4em;
}

.thead{
    margin-top: 4em;
    font-weight: bolder;
}
.serialno{
    width: 5em;
}

.assignmentname{
    width:15em
}

.codeurl{
    width: 26em;
}

.liveurl{
    width: 38em;
}